<h1> <%=@post.id%> 번 포스트를 수정하는 화면이올시다</h1>


<!--질문 게시판 글쓰기-->
        <div class="col-xs-12 col-sm-9">
            <div class="container">
                <h1>질문 게시판</h1>
                <hr>
                    <%= form_tag  update_post_path(@post.id), method: 'post', multipart: true do %>
                        <div class="col-xs-12 col-sm-9">
                            <div class="select_option">
                            <div class="cat">
                            <h3>카테고리</h3>
                            <span>
                                <!--아직 카테고리 컨트롤러에 명시 안해줬어요!-->
                            <select name= "input_category" >
                                <option value="school">학교</option>
                                <option value="department">학과</option>
                                <option value="major">전공</option>
                            </select>
                            </span>
                            <hr>
                            </div>
                            </div>
                            <!--받아온 글 폼-->
                             <p>제목</p>
                        <%= text_field_tag "input_title", @post.title %>
                        <%= text_area_tag "input_content", @post.content %>
                        <!--이미지 하고 파일에 대한 것 컨트롤러에 아직 명시 안해줬어요!-->
                        <p>이미지</p>   
                        <input type="file" name="input_image" accept="image/*">
                        <p>파일</p> 
                        <input type="file" name="input_doc" accept="file_extension">
                        
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            CKEDITOR.replace( 'input_content' );
                         </script>
                         <%= submit_tag '등록하기' %>
                    <% end %>
                </div>
            </div>
            </div>